<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | LemonBrains</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
    <!-- 
        Admin page
    -->
    <h1>Admin</h1>
    <h2>Example: included backend content = <%- test %></h2>
    TODO: This page should have options to view, add, update, delete locations
    <!--
        TODO: BUILD ADMIN INTERFACE
        Requires knowing how location will be used on the frontend e.g. can css just be replaced?  
        Or can a value be set to show a specific part of the html.  In anycase, this is the page to provide admin options
        1. Show all locations
        2. Upload new locations
        3. Delete locations
        4. Update existing locations
    -->

    <a href="/api-docs">Swagger documentation</a>    
</body>
</html>