/*** Global Styles ***/
/* Reset the margin and padding of everything so we can get rid of the white border that the browser gives us by default*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*** Variables ***/
/**** FONTS  (Some fonts are imported directly in the index.html file ***/
/* Import Roboto font */
.zombie {
  width: 500px;
  height: 500px;
  position: absolute;
}

.normal {
  animation-name: zombie-walk;
  animation-duration: 45s;
  animation-iteration-count: infinite;
}

.slow {
  animation-name: zombie-walk;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

.fast {
  animation-name: zombie-walk;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

/*** ANIMATIONS ***/
@keyframes zombie-walk {
  0% {
    left: 100%;
  }
  100% {
    left: -20%;
  }
}
.lemon {
  font-family: "Roboto", sans-serif !important;
}

.brains {
  font-family: "Creepster", cursive;
  font-size: 1.3em;
}

.logo-gif-div {
  width: 100px;
  height: 100px;
}

.logo {
  font-size: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 950px) {
  .logo {
    justify-content: left;
  }
}

nav a {
    color: white;
}

nav {
  color: white !important;
  text-align: center;
}
@media (min-width: 950px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.playing-field {
  border: 0px solid;
  max-height: 500px;
}

.player-info {
  font-size: 1.5em;
  margin-bottom: 10px;
}
@media (min-width: 950px) {
  .player-info {
    margin-right: 50px;
  }
}

.logo {
  margin-left: 50px;
}
@media (min-width: 950px) {
  .logo {
    margin-left: 0px;
  }
}

#questions-header {
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
}

.menu-buttons {
  margin-bottom: 150px;
  text-align: center;
}

.quiz {
  background-color: #87CEEB;
  margin-bottom: 150px;
  display: none;
}

.questions-div {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: end;
}

#question {
  font-size: 2em;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

button, .link-button {
  margin-top: 10px;
  font-size: 1em;
  padding: 10px 24px;
  color: white;
  background-color: #855E42;
  cursor: pointer;
}

button:hover {
  background-color: #ac7954;
}

.main-menu-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;

}

.link-button {
    width: 100px;
    text-align: center;
}

#answer {
  padding: 10px;
  width: 30px;
  font-size: 1em;
}

.answer-correct {
  border: 2px solid green;
}

.answer-incorrect {
  border: 2px solid red;
}

.buttons-div {
  text-align: center;
  margin-bottom: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.time-left-div {
  text-align: center;
  font-size: 1.5em;
}

.game-content {
  background-color: #87CEEB;
  width: 100%;
  overflow: hidden;
}

.sky {
  background-color: #87CEEB;
  height: 200px;
}

.ground {
  background-color: rgba(126, 252, 0, 0.7725490196);
  width: 100%;
  height: 500px;
}

.lemonade-stand {
  position: relative;
  top: -109px;
}

.lemonade-stand-container {
  position: absolute;
}

.options-menu {
  display: none;
  background-color: #855E42;
  border-radius: 15px;
  color: white;
  flex-direction: column;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
  padding: 10px;
  margin-bottom: 146px;
  max-width: 500px;
}

.customize-settings-header {
  margin-top: -16px !important;
}

.menu-header {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

.close-settings-button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

html {
  background-color: #855E42;
}

.game-over-div {
  display: none;
  text-align: center;
}

#gameOver {
  font-size: 5em;
  color: rgba(126, 252, 0, 0.7725490196);
  padding-top: 20px;
}

#success {
  padding-top: 20px;
}

#try-again, #next-day {
  margin-bottom: 150px;
}

input:focus {
  outline: none !important;
}

.logo {
  width: 350px;
}

.logo:hover {
  cursor: pointer;
}

.first-menu-header {
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  margin-bottom: -20px;
}

.second-menu-header {
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  margin-bottom: 20px;
}

.menu-buttons-div {
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#continue-venture-button {
  display: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
